.eduContainer{
   width: 80%;
   margin: auto;
   margin-bottom: 20px;
   background:linear-gradient(207.8deg, #201E1C 16.69%, #535353 100%);
   border-radius: 15px;
}

.edu-inst{
    font-weight: 600;
    background-color: transparent;
    padding: 10px;
    
}
.edu-conocimiento{
    font-family: 'Inter';
    font-weight: 300;
    background-color: transparent;
    padding: 10px;
}

@media (min-width:600px){
    .eduContainer{
        height: 270px;
    }
}
@media (min-width:768px){
    .eduContainer{
        height: 210px;
    }
}
@media (min-width:1200px){
    .eduContainer{
        height: 250px;
    }
}
@media (min-width:1440px){
    .eduContainer{
        height: 400px;
    }
}