.section1{
  width: 100%;
}
.div-about{
  margin: auto;
  width: 95%;
  background-color: #181818;
  border-radius: 15px;
  padding: 10px;
}
.div-about h2{
  background-color: transparent;
}
.div-about p{
  background-color: transparent;
  font-size: 1.1rem;
}
.div-img-container h1{
  font-size: 2.2rem;
}

.img-container{
  width: 100%;
  text-align: center;
}
.img-perfil{
  width: 90%;
  max-width: 280px;
  height: 45vh;
  object-fit: cover;
}

@media (min-width:600px){
  .section1{
    display: flex;
    
  }
  .div-img-container{
    width: 39%;
  }
  .img-perfil{
    width: 100%;
  }
  .div-about{
    width: 50%;
    margin-top: 4rem;
    margin-right: 3rem;
  }
}
@media (min-width:1024px){
  .div-img-container{
    margin-left: 4rem;
  }
  .div-about{
    margin-right: 5rem;
    background: linear-gradient(90deg, #060606 20%, #2d2d2d 100%);
  }
}
@media (min-width:1440px){
  .div-about{
    width: 40%;
    margin-right: 10rem;
    margin-top: 5rem;
    padding: 1.5rem;
  }
  .div-img-container{
    margin-left: 7rem;
  }
}